body{ font-family:arial; }
html, body { 
	max-width:1600px;

 

 }

.flex {
	display: flex;

	overflow:hidden; 
}
.item {
	height:300px;

	flex:50%;

	transition: flex 300ms ease;

	box-shadow: 0 0 19px 3px #000; margin: 1px; 
}
.item:hover {
 	flex: 0.1 0.1 500px;
	background-size: 100% 100%;
}


.img1 { background: url('https://sun1-14.userapi.com/c635102/v635102704/2ddc6/Fh44i2hetjM.jpg') 0 0 no-repeat; }
.img2 { background: url('https://sun1-16.userapi.com/c635102/v635102704/2ddd0/fcLmsDd7fos.jpg') 0 0 no-repeat; }
.img3 { background: url('https://sun1-7.userapi.com/c635102/v635102704/2ddda/DiS3NB4XRQY.jpg') 0 0 no-repeat; }
.img4 { background: url('https://sun1-14.userapi.com/c635102/v635102704/2dde4/EdUjtIurJJk.jpg') 0 0 no-repeat; }
.img5 { background: url('https://sun1-18.userapi.com/c635102/v635102704/2ddbc/kn3NeF6UqRo.jpg') 0 0 no-repeat; }
.img6 { background: url('https://sun1-6.userapi.com/c635102/v635102704/2de02/zvjsWebFq98.jpg') 0 0 no-repeat; }
.img7 { background: url('https://sun1-3.userapi.com/c635102/v635102704/2de0c/VaLagVDUe8M.jpg') 0 0 no-repeat; }
